body {
    background: rgb(145, 14, 14);
    width: 75%;
    margin: 0 auto;
}

.container {
    margin: 20px;
}

#top-header {
    text-align: center;
    background: lightgray;
    color: black;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

#table-head {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#row-header {
    background: white;
    color: black;
    padding: 5px;
}

#head-span {
    color: black;
    font-weight: bold;
    margin: 5px;
}

#trains-list {
    border: 5px solid black;
    border-radius: 5px;
    background: white;
}

#form {
    border: 5px solid black;
    border-radius: 5px;
    background: white;
}

#label {
    font-weight: bold;
}

#submit-train {
    margin: 5px;
}

.form-group {
    margin: 5px;
}
