body {
    margin: 0 auto;
    font-size: 18px;
    width: 75%
}

.container {
    margin: 20px;
}

#head-container {
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;;
    border-radius: 5px;
}

#table-head {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#row-header {
    background: blue;
    padding: 5px;
}

#head-span {
    color: white;
    font-weight: bold;
    margin: 5px;
}

#trains-list {
    border: 2px solid blue;
    border-radius: 5px;
}

#form {
    border: 2px solid blue;
    border-radius: 5px;
}

#label {
    font-weight: bold;
}

#submit-train {
    margin: 5px;
}

.form-group {
    margin: 5px;
}
